@charset "UTF-8";
@import "variables";
@import "nav";
@import "multiple-root";
@import "footer";

html {
  background-color: #fff;
}

#logo {
  height: 75px;
}

main.container {
  margin-top: 105px;

  .banner {
    height: 300px;
  }
}
